{% extends 'registration/base.html' %}
{% load bootstrap4 %}
{% load static %}


{% block styles%}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}
{% block content %}
    <!-- {% if form.errors %}
  <p class="small">Password or Username is incorrect</p>
  {% endif %} -->
  <div class="container main">
    <div class="row pt-2">
      <div class="col-md-3 mx-auto">
        <div class="form-section">
          <h1 class="mx-auto text-center">Instagram</h1>
          <form class="nbrand" action="/accounts/login/" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="font-weight-bold">
              <input type="submit" class="btn btn-outline-info btn-sm" value="Log in">
              <p>Don't have an account? <a href="/accounts/register/">Sign-Up</a></p>
            </div>
            <input type="hidden" name="next" value="/">
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}