{% load static %}

{% block styles%}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
{% endblock %}

<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top mb-2 pt-3">
  <a class="navbar-brand" href="/"><img class="pt-0" src="/static/img/instagram-brands.svg" style="width:18px"><span class=""> | <span class="nbrand">Instagram</span> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="form-inline ml-auto" action="{% url 'search_profile' %}" method="GET">
          <input class="form-control mr-sm-2" name="username" type="search" role="search" placeholder="Search"
            aria-label="Search">
        </form>
    <ul class="navbar-nav ml-auto link">
      {% if user.is_authenticated %}
      <li><a class="pl-3 title" href="{%url 'newPost'%}">New Post <span><img src="/static/img/plus-circle-solid.svg" style="width:25px"></span></a></li>
      <li><a class="pl-3 title" href="/user/{{user.id}}">Profile <span><img src="/static/img/user-circle-regular.svg" style="width:25px"></span></a></li>
      <li><a class="pl-3 title" href="/accounts/login/">Log Out <span><img src="/static/img/sign-out-alt-solid.svg" style="width:25px"></span></a></li>
      {% endif %}
    </ul>
  </div>
</nav>