
{%extends "registration/base.html"%}
{% load bootstrap4 %}
{% block content %}
{% if user.is_authenticated %}
<div class="mb-5">
<header class="site-header">
    <nav class="navbar navbar-expand-md  bg-steel fixed-top navbar-dark" style="background-color: white; height: 60px;">
        <div class="container-fluid">
            <div>
                <button style="background-color: rgb(104, 104, 241)" class="navbar-toggler" type="button"
                    data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a href="{% url 'all_images' %}">
                            <img src="../../static/images/instanav.png" alt=""
                                style="width:53px; height:30px;margin-top:5px; margin-bottom: 0px; margin-left:26px;border-right:1px solid;padding-right: 23px; color: black;">
                        </a>
                        <a class="ml-2" href="{% url 'all_images' %}">
                            <img src="../../static/images/instagram_logo.png" alt=""
                                style="width:120px; height:35px;">
                        <a style="margin-left: 200px;">
                            <!-- <input style="height:25px;width:200px; margin-left: 120px; text-align: center;" type="text" class="input-sm form-control fa fa-search"
                                name="search-form" placeholder="Search"><i style="margin-left: -14px;" class="fa fa-search"></i> -->
                                <div class="col-md-12 nav-search">
                                    <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search' %}">
                                        <input style="height: 32px; text-align: center;" class="form-control " name="search" type="search" placeholder="Search" aria-label="Search">
                                    </form>
                                </div>
                        </a>
                    </div>

                    <!-- Navbar Right Side -->
                    <div style="margin-bottom: 30px; margin-left: 130px;">
                        <a class="ml-5" href="#">
                            <i class="fa fa-heart-o" style="font-size:26px;padding-top: 14%; color: rgb(24, 24, 24);"></i>
                        </a>

                        <a href="{% url 'post_image' %}">
                            <i class="ml-5 material-icons" style="font-size:26px; color: rgb(24, 24, 24);">add_a_photo</i>
                        </a>

                        <a href="{% url 'profile' user.username %}">
                            <i class="ml-5 fa fa-user" style="font-size:28px; color: rgb(24, 24, 24);"></i>

                        </a>
                        
                    </div>
                </div> 
            </div>
        </div>
    </nav>
</header>
</div>

{% else %}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <img src="../../static/images/landing_img.jpg" alt="">
        </div>
        <div class="col-md-4 mt-3">
            <div class="card">
                <div class="logincont">
                    <div class="loginform">
                        {% if form.errors %}
                        <p> Password or Username is incorrect </p>
                        {% endif %}

                        <img class="mt-3" src="../../static/images/instagram_logo.png" alt="signuplogo "
                            style="width:240px; height:70px;margin: 5px auto; display: block;">

                        <div class="panel-body">

                            <form action="/accounts/login/" method="post" class="ml-4 mr-4">
                                {% csrf_token %}

                                <div class="form-group">
                                    <a href="{% url 'login' %}" class="btn btn-primary btn-md btn-block">Login</a>
                                </div>
                        </div>
                    </div>
                </div> 
            </div> 

            <div class="card mt-3">
                <p class="ml-5 mt-3">Don't have an account? <a href="{% url 'register' %}" class="ml-2">Sign
                        Up</a>
                </p>
            </div>
            <input type="hidden" name="next" value="{{next}}">

            </form>

            <div class="mt-3">
                <p style="text-align: center;">Login to see photos from friends.</p>
                <div class="login-playstorebtn">
                    <p class="googlebtn ml-5">

                        <a href="https://www.apple.com/us/search/instagram?src=itunes_serp"><img
                                src="../../static/images/applestore.jpeg" alt="" style="width:130px; height:40px "></a>
                        <a href="https://play.google.com/store/search?q=instagram"><img
                                src="../../static/images/download.svg" alt="" style="width:130px; height:40px "></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}